# Assignment 25 Feb - Adv Pandas

In [1]:
import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration =  [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration}

SyntaxError: invalid character '‘' (U+2018) (3063570508.py, line 3)

In [2]:
# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [11]:
import pandas as pd

course_name :[‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

df = pd.DataFrame(course_name)
                  print(df)

SyntaxError: invalid character '‘' (U+2018) (2526670002.py, line 3)

In [12]:
# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [13]:
# The main distinction between the two methods is: loc gets rows (and/or columns) with particular labels. 
# iloc gets rows (and/or columns) at integer locations.

# The main distinction between loc and iloc is: loc is label-based, which means that we have to specify rows 
# and columns based on their row and column labels. iloc is integer position-based, so we have to specify rows and
# columns by their integer position values (0-based integer position).

In [ ]:
# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df 
# then find the output for both new_df.loc[2] and new_df.iloc[2].

# Did you observe any difference in both the outputs? If so then explain it.

In [14]:
import pandas as pd

In [ ]:
course_name :[‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

In [16]:
import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration =  [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})
df

SyntaxError: invalid character '‘' (U+2018) (1535676876.py, line 3)

In [15]:


Consider the below code to answer further questions:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

SyntaxError: invalid syntax (668127174.py, line 1)

In [17]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:

# (i) 	mean of each and every column present in the dataframe.

# (ii) standard deviation of column, ‘column_2’

In [7]:
import numpy as np
import pandas as pd

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.486919  0.819530  0.911864  0.775803  0.300028  0.389366
2  0.340225  0.477662  0.959081  0.550954  0.031511  0.835350
3  0.049369  0.792836  0.743814  0.180764  0.551809  0.073249
4  0.701361  0.615963  0.746188  0.265634  0.271178  0.022051
5  0.333234  0.384776  0.796328  0.520734  0.985811  0.524917
6  0.074545  0.368194  0.536560  0.289130  0.707196  0.631823

In [9]:
df1.mean()

column_1    0.330942
column_2    0.576493
column_3    0.782306
column_4    0.430503
column_5    0.474589
column_6    0.412793
dtype: float64

In [10]:
df1['column_2'].mean()

0.5764934103252104

In [11]:
df2 = df1['column_2'].std()
df2

0.19866570735881556

In [12]:
# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the 
# mean of column, column_2.

# If you are getting errors in executing it then explain why.

# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [13]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.486919  0.819530  0.911864  0.775803  0.300028  0.389366
2  0.340225  0.477662  0.959081  0.550954  0.031511  0.835350
3  0.049369  0.792836  0.743814  0.180764  0.551809  0.073249
4  0.701361  0.615963  0.746188  0.265634  0.271178  0.022051
5  0.333234  0.384776  0.796328  0.520734  0.985811  0.524917
6  0.074545  0.368194  0.536560  0.289130  0.707196  0.631823

In [20]:
df1['column_2'][2] = 'raju'
df1

/tmp/ipykernel_116/1121170610.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['column_2'][2] = 'raju'

   column_1  column_2  column_3  column_4  column_5  column_6     o     l
1  0.486919   0.81953  0.911864  0.775803  0.300028  0.389366  raju  raju
2  0.340225      raju  0.959081  0.550954  0.031511  0.835350  raju  raju
3  0.049369  0.792836  0.743814  0.180764  0.551809  0.073249  raju  raju
4  0.701361  0.615963  0.746188  0.265634  0.271178  0.022051  raju  raju
5  0.333234  0.384776  0.796328  0.520734  0.985811  0.524917  raju  raju
6  0.074545  0.368194  0.536560  0.289130  0.707196  0.631823  raju  raju

In [ ]:
df1['column_2'].mean()

In [23]:
# Can not find mean because one value(raju) is str type and other value(0.56) is float type.

In [ ]:
# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In [ ]:
# The window functions in Pandas are used to perform some sort of calculations across a set of rows that are
# interrelated with the current row. The windows functions help us to perform the aggregated calculations across
# various partitions or cross-sections of the data.


# the various windows functions in pandas such as :-
# Group by, Rolling, Expanding, and Exponentially Weighted window,

In [ ]:
# pandas supports 4 types of windowing function:

# Rolling window: Generic fixed or variable sliding window over the values.

# Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.

# Expanding window: Accumulating window over the values.

# Exponentially Weighted window: Accumulating and exponentially weighted window over the values.

In [24]:
# Q7. Write a code to print only the current month and year at the time of answering this question.

# [Hint: Use pandas.datetime function]

In [38]:
import pandas as pd
import datetime


timestamp = pd.Timestamp(datetime.datetime(2023, 2, 27))

print("Timestamp: ", timestamp)

# getting the current date and time
res = timestamp.today()

# display the current date and time
print("\nToday's Date and time...\n", res)

Timestamp:  2023-02-27 00:00:00

Today's Date and time...
 2023-02-27 18:35:45.933667